<style>
  #contact-bg-{{ block.id }} {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 112px;
    width: 100%;
    {% if section.settings.bg_image_desktop %}
      background-image: url('{{ section.settings.bg_image_desktop | image_url: width: 1920 }}');
    {% endif %}
  }
  {% if section.settings.bg_image_laptop %}
  @media (max-width: 1440px) {
    #contact-bg-{{ block.id }} {
      background-image: url('{{ section.settings.bg_image_laptop | image_url: width: 1440 }}');
    }
  }
  {% endif %}
  {% if section.settings.bg_image_mobile %}
  @media (max-width: 575px) {
    #contact-bg-{{ block.id }} {
      background-image: url('{{ section.settings.bg_image_mobile | image_url: width: 575 }}');
    }
  }
  {% endif %}
    @media (max-width: 575px) {
    #contact-bg-{{ block.id }} {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }
</style>

{% capture submit_button %}
  {% content_for 'block', type: 'contact-form-submit-button', id: 'submit-button' %}
{% endcapture %}

<div id="contact-bg-{{ block.id }}">

<div
  class="page-width 
    contact-form
    spacing-style size-style
    {% if block.settings.inherit_color_scheme == false %}color-{{ block.settings.color_scheme }}{% endif %}
  "
  style="
    {% render 'spacing-style', settings: block.settings %}
    {% render 'size-style', settings: block.settings %}
  "
  {{ block.shopify_attributes }}
>

  <div class="contact-form-title">
  {{ section.settings.contact_form_title }}
  </div>

  {% assign form_id = block.id | default: section.id | prepend: 'ContactForm-' %}
  {%- form 'contact', id: form_id, class: 'contact-form__form' -%}
    <input
      name="contact[id]"
      type="hidden"
      value="{{ form_id }}"
    >

    {%- if form.errors and form.id == form_id -%}
      <div
        class="contact-form__error"
        tabindex="-1"
        autofocus
      >
        {{- 'icon-error.svg' | inline_asset_content -}}

        {{- form.errors.translated_fields.email | capitalize }}
        {{ form.errors.messages.email -}}
      </div>
    {%- endif -%}

    {%- if form.posted_successfully? and form.id == form_id -%}
      <div
        class="contact-form__success"
        tabindex="-1"
        autofocus
      >
        {{- 'icon-checkmark.svg' | inline_asset_content -}}
        {{- 'blocks.contact_form.post_success' | t -}}
      </div>
    {%- endif -%}

    <div class="contact-form__form-row">

      <!-- First Name -->
      <div class="first-name">
      <label
        class="field__label"
        for="ContactForm-first-name"
              >
        Vorname
      </label>
      <input
        type="text"
        id="ContactForm-first-name"
        class="contact-form__input"
        autocomplete="given-name"
        name="contact[first_name]"
        value="{% if form.first_name %}{{ form.first_name }}{% elsif customer %}{{ customer.first_name }}{% endif %}"
        placeholder="Vorname"
        required
      >
       <div class="form-error-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M7.33073 4.66675V7.33341M7.33073 10.0001H7.3374M13.9974 7.33341C13.9974 11.0153 11.0126 14.0001 7.33073 14.0001C3.64883 14.0001 0.664062 11.0153 0.664062 7.33341C0.664062 3.65152 3.64883 0.666748 7.33073 0.666748C11.0126 0.666748 13.9974 3.65152 13.9974 7.33341Z" stroke="#F04438" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>

      <!-- Last Name -->
      <div class="last-name">
      <label
        class="field__label"
        for="ContactForm-last-name"
      >
        Nachname
      </label>
      <input
        type="text"
        id="ContactForm-last-name"
        class="contact-form__input"
        autocomplete="family-name"
        name="contact[last_name]"
        value="{% if form.last_name %}{{ form.last_name }}{% elsif customer %}{{ customer.last_name }}{% endif %}"
        placeholder="Nachname"
        required
      >
       <div class="form-error-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M7.33073 4.66675V7.33341M7.33073 10.0001H7.3374M13.9974 7.33341C13.9974 11.0153 11.0126 14.0001 7.33073 14.0001C3.64883 14.0001 0.664062 11.0153 0.664062 7.33341C0.664062 3.65152 3.64883 0.666748 7.33073 0.666748C11.0126 0.666748 13.9974 3.65152 13.9974 7.33341Z" stroke="#F04438" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
      </div>

    </div>

  <div class="user-email">
     <label
        class="field__label"
        for="ContactForm-email"
      >
        Email
        <span aria-hidden="true"></span></label
      >
      <input
        type="email"
        id="ContactForm-email"
        class="contact-form__input"
        autocomplete="email"
        name="contact[email]"
        spellcheck="false"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
        aria-required="true"
        {% if form.errors contains 'email' and form.id == form_id %}
          aria-invalid="true"
          aria-describedby="ContactForm-email-error"
        {% endif %}
        placeholder="you@mail.com"
        required
      >
       <div class="form-error-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M7.33073 4.66675V7.33341M7.33073 10.0001H7.3374M13.9974 7.33341C13.9974 11.0153 11.0126 14.0001 7.33073 14.0001C3.64883 14.0001 0.664062 11.0153 0.664062 7.33341C0.664062 3.65152 3.64883 0.666748 7.33073 0.666748C11.0126 0.666748 13.9974 3.65152 13.9974 7.33341Z" stroke="#F04438" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
</div>


<div class="user-msg">
    <label
      class="field__label"
      for="ContactForm-body"
    >
      Nachricht
    </label>
    <textarea
      rows="10"
      id="ContactForm-body"
      class="contact-form__input contact-form__input--textarea"
      name="contact[body]"
      placeholder="Hinterlassen Sie hier Ihre Nachricht..."
      required
    >
      {{- form.body -}}
    </textarea>
     <div class="form-error-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
            <path d="M7.33073 4.66675V7.33341M7.33073 10.0001H7.3374M13.9974 7.33341C13.9974 11.0153 11.0126 14.0001 7.33073 14.0001C3.64883 14.0001 0.664062 11.0153 0.664062 7.33341C0.664062 3.65152 3.64883 0.666748 7.33073 0.666748C11.0126 0.666748 13.9974 3.65152 13.9974 7.33341Z" stroke="#F04438" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
    </div>

    {{ submit_button }}
  {%- endform -%}
</div>
</div>

{% stylesheet %}
  .contact-form__form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
  }

  .contact-form__form-row {
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);

    @media screen and (min-width: 750px) {
      flex-direction: row;
      align-items: center;
    }
  }

  .contact-form__input {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-input-text);
    background-color: var(--color-input-background);
    padding: var(--padding-lg) var(--padding-xl);
    border-radius: var(--style-border-radius-inputs);
    border: var(--style-border-width-inputs) solid var(--color-input-border);
    -webkit-font-smoothing: antialiased;
  }

  .contact-form__input--textarea {
    resize: vertical;
    min-height: var(--input-textarea-min-height);
  }

  .contact-form__error,
  .contact-form__success {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.contact_form",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.width",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.width",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.contact_form",
      "category": "t:categories.forms"
    }
  ]
}
{% endschema %}
